<footer class="pt-5 pb-1 bg-dark text-light page-footer mt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 bg-dark ">
        <h3>Socials</h3>
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/sardor.mukhitdinov/"><i class="fa fa-instagram fa-3x" style="color: #e4405f"></i></a></li>
          <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/sardor.mukhitdinov/"><i class="fa fa-twitter fa-3x" style="color: #55acee"></i></a></li>
          <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/sardor.mukhitdinov/"><i class="fa fa-facebook fa-3x" style="color: #3b5999"></i></a></li>
          <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/sardor.mukhitdinov/"><i class="fa fa-telegram fa-3x" style="color: #00AFF0"></i></a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h3>How to Use</h3>
        <p>The knowledge comes with time and by stubborn attitude</p>
      </div>
      <div class="col-sm-4">
        <p>This project is made just for fun and carries no responsibility for its content</p>
      </div>
    </div>
    <p class="text-center mb-0 mt-5"><small class="text-muted">&copy; All rights reserved &nbsp;<span id="year"></span> &reg;&nbsp;Sardoor</small></p>
  </div>
</footer>
